@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Roboto+Slab:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar {
  background-color: rgba(112, 189, 200, 0.897); }
  .navbar .nav-link {
    color: #faf3f3; }
    .navbar .nav-link:hover {
      color: rgba(255, 0, 0, 0.629); }

.hero {
  background-image: url(../img/destacada-bares2.jpg);
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat; }
  .hero .titulo {
    font-family: "Lobster Two", cursive;
    color: rgba(8, 0, 255, 0.878);
    font-size: 67px;
    margin-top: -50px; }

@media screen and (max-width: 480px) {
  .navbar {
    width: 100vh; }
  .hero {
    width: 100vh; } }

.section__carta .carta {
  margin-inline: 20px;
  background-color: rgba(215, 109, 247, 0.22);
  border: groove; }
  .section__carta .carta .card-text {
    font-family: "Roboto Slab", serif; }

.section__carta .carta {
  -webkit-animation: slit-in-vertical .45s ease-out both;
  animation: slit-in-vertical .45s ease-out both;
  animation-delay: .2s;
  animation-duration: 1s; }

@-webkit-keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0; }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0); } }

@keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0; }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0); } }

@media screen and (max-width: 480px) {
  .section__carta .carta {
    width: 95vh;
    margin-left: 12px; }
    .section__carta .carta .img-fluid {
      margin: auto; }
    .section__carta .carta .card-title {
      text-align: center; } }

@media (min-width: 480px) and (max-width: 768px) {
  .section__carta .carta {
    margin-left: 12px; }
    .section__carta .carta .img-fluid {
      margin: auto; }
    .section__carta .carta .card-title {
      text-align: center; } }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.667);
  height: 250px; }
  .footer .fa-whatsapp, .footer .fa-instagram,
  .footer .fa-facebook,
  .footer .fa-twitter {
    color: #05bb05; }
  .footer .fa-instagram {
    color: #ff005d; }
  .footer .fa-facebook {
    color: #001eff; }
  .footer .fa-twitter {
    color: #0073ff; }
  .footer .footer__nav a {
    align-items: center;
    margin: 0 20px;
    text-decoration: none;
    color: rgba(245, 219, 210, 0.697); }
    .footer .footer__nav a:hover {
      color: rgba(255, 0, 0, 0.629); }
  .footer .separador {
    width: 60%;
    margin: 30px 0;
    border-top: 2px solid;
    color: white; }
  .footer .redes {
    display: flex;
    gap: 20px; }

.footer__copy {
  color: rgba(135, 133, 133, 0.898);
  margin-top: 10px; }

.fa-whatsapp:hover, .fa-instagram:hover,
.fa-facebook:hover,
.fa-twitter:hover {
  color: white; }

@media screen and (max-width: 480px) {
  .footer {
    width: 100vh; }
    .footer .footer__nav a {
      margin: 0 10px; }
    .footer .separador {
      width: 70%; } }

.cards {
  margin-right: auto;
  margin-left: auto; }
  .cards .card {
    transition: .3s; }
    .cards .card:hover {
      border-radius: 5px;
      transform: scale(1.03);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; }
    .cards .card .card-body {
      background-color: rgba(255, 4, 0, 0.114); }
  .cards :nth-child(4), .cards :nth-child(5),
  .cards :nth-child(6) {
    margin-bottom: 40px; }

@media screen and (max-width: 480px) {
  .cards {
    flex-direction: column; }
    .cards .card {
      width: 90vh;
      margin-left: 2.5vh; }
    .cards :nth-child(5) {
      margin-top: -15px; }
    .cards :nth-child(6) {
      margin-bottom: 40px;
      margin-top: -15px; } }

@media (min-width: 480px) and (max-width: 769px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "card card" "card card" "card card"; }
    .cards :nth-child(4), .cards :nth-child(5),
    .cards :nth-child(6) {
      margin-bottom: 0%; }
    .cards :nth-child(5),
    .cards :nth-child(6) {
      margin-bottom: 40px; }
    .cards .tarjeta {
      width: 100%; } }

.contenido {
  border: solid;
  width: 90%;
  margin-inline: auto;
  margin-top: 40px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-evenly; }
  .contenido .checkbox {
    align-self: center; }
    .contenido .checkbox .checks {
      margin-top: 40px;
      margin-bottom: 30px; }
  .contenido .form__sugerencias {
    width: 50vh; }
    .contenido .form__sugerencias .botton {
      background-color: #989898;
      color: black;
      width: 70px;
      margin-inline: 106px; }

.subtitulo {
  text-align: center;
  margin: 10px; }

@media screen and (max-width: 480px) {
  .contenido {
    display: block;
    width: 100%;
    margin-inline: 10vh; }
    .contenido .checkbox {
      display: flex;
      flex-direction: column;
      margin-top: inherit;
      margin-inline: 28vh; }
    .contenido .form__sugerencias {
      margin-inline: auto; }
      .contenido .form__sugerencias .botton {
        margin-inline: auto; }
  .subtitulo {
    margin-inline-start: 19vh; } }

.subtitulo__reseñas {
  margin-top: 5vh;
  margin-bottom: 10vh;
  text-align: center; }

.reseñas {
  margin-inline: 20px;
  width: 45vw; }

@media screen and (max-width: 480px) {
  .subtitulo__reseñas {
    margin-inline-start: 20vw;
    margin-top: 5vh;
    margin-bottom: 10vh; }
  .reseñas {
    width: 80vw; } }

@media (min-width: 481px) and (max-width: 769px) {
  .reseñas {
    width: 60vw; } }

.formulario {
  display: inline-grid;
  background: rgba(0, 0, 0, 0.044);
  margin-top: 70px;
  margin-left: 410px;
  margin-bottom: 50px;
  border-radius: 10px;
  border: groove;
  padding: 30px; }
  .formulario .form {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    font-size: 17px; }
  .formulario .input {
    padding-inline: 3px;
    padding-top: 4px; }
  .formulario .texto {
    max-height: 130px;
    padding-inline: 3px; }
  .formulario #boton {
    background: rgba(134, 113, 113, 0.24);
    color: rgba(23, 22, 22, 0.29);
    padding: 7px 125px 7px 125px;
    margin-top: 7px;
    border: outset; }
    .formulario #boton:hover {
      color: black;
      cursor: pointer; }

@media screen and (max-width: 480px) {
  .formulario {
    margin-left: 25%; } }

@media (min-width: 480px) and (max-width: 769px) {
  .formulario {
    margin-left: 25%; } }
