.cards {
    margin-right: auto;
    margin-left: auto;
    .card {
        transition: .3s;

        &:hover {
            border-radius: 5px;
            transform: scale(1.03);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        }

        .card-body {
            background-color: rgba(255, 4, 0, 0.114);
        }
    }

    :nth-child(4) {
        margin-bottom: 40px;
    }

    :nth-child(5),
    :nth-child(6) {
        @extend :nth-child(4);
    }
}

@media screen and (max-width: 480px) {
    
    .cards {
        flex-direction: column;

        .card{
            width: 90vh;
            margin-left: 2.5vh; 
        }
    
        :nth-child(5) {
            margin-top: -15px;
        }
        :nth-child(6) {
            margin-bottom: 40px;
            margin-top: -15px;
        }
    }
}

@media (min-width: 480px) and (max-width: 769px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "card card"
        "card card"
        "card card";

        :nth-child(4) {
            margin-bottom: 0%;
        }

        :nth-child(5),
        :nth-child(6) {
            margin-bottom: 40px;
        }

        .tarjeta {
            width: 100%;
        }
    }
}


