.navbar {
    background-color: $NavbarColor; 

    .nav-link {
        color: $ColorLinkNav;

        &:hover {
            color: rgba(255, 0, 0, 0.629);
        }
    }
}
@mixin titulo ($fuenteLetra, $color, $tamanoFuente, $margen) {

    font-family: $fuenteLetra;
    color: $color;
    font-size: $tamanoFuente;
    margin-top: $margen;
}

.hero{
    background-image: url(../img/destacada-bares2.jpg);
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;

    .titulo {
        @include titulo($FuentePrincipal, $ColorTitulo, 67px, -50px);
    }

}

@media screen and (max-width: 480px) {

    .navbar {
        width: 100vh;
    }

    .hero {
        width: 100vh;
    }
}
