@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Roboto+Slab:wght@200;400&display=swap');

$FuentePrincipal: 'Lobster Two', cursive;
$FuenteSecundaria: 'Roboto Slab', serif;

$NavbarColor: rgba(249, 0, 158, 0.248);
$ColorLinkNav: rgba(0, 0, 0, 0.711);
$ColorTitulo: rgba(17, 0, 255, 0.93);